data/*.csv
producproduct_recommendation_system/src/__pycache__
producproduct_recommendation_system/__pycache__
purchase_pattern_analysis/src/__pycache__
purchase_pattern_analysis/__pycache__
/Users/itobuz/Desktop/project/DS_Internship_Tasks/product_recommendation_system/log